$blue: rgba(31, 59, 216, 0.9);
$red: rgba(255, 67, 67, 1);
$white: rgba(255, 255, 255, 1);
$lightblue: rgba(127, 144, 239, 0.1);
$lightsilver: rgba(108, 114, 121, 0.5);



$darkgrey: rgba(45, 48, 51, 1);
$black: rgba(0, 0, 0, 1);
$darkred: rgba(231, 20, 20, 1); 
$darkblue: rgba(44, 49, 84, 1);
$grey: rgba(198, 203, 205, 1);
$midlsilver: rgba(228, 228, 228, 1);
$deepblue: rgba(37, 43, 73, 0.5);
$vine: rgba(92, 50, 73, 1);