$_20px: 1.25rem ;
$_50px: 3.125rem;
$_15px: 0.937rem ;


$_14px: 0.875rem ;
$_12px: 0.75rem ;
$_36px: 2.25rem ;
$_30px: 1.875rem ;
$_16px: 1rem; 
$_36px: 2.25rem;
$_60px: 3.75rem;
$_19px: 1.1875rem;

